/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.chess-container {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid #333;
    width: 100%;
    height: 100%;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.tile.black {
    background-color: #769656;
}

.tile.white {
    background-color: #eeeed2;
}
